@import "tailwindcss";
@import "../assets/styles/fonts.css";

:root {
  --accent-red: #ff4242;
  --accent-green: #47ff69;
  --accent-purple: #7246d9;
  --background: #151619;

  --grey-dark-1: #343843;
  --grey-dark-2: #2d323c;
  --grey-dark-3: rgba(252, 255, 254, 0.4);
  --grey-dark-4: #23262c;
  --border-20: rgba(255, 255, 255, 0.2);
  --light: #ffffff;
  --gradient-1: linear-gradient(270deg, rgba(20, 21, 28, 0) 0%, #14151c 100%);

  --aeonic: "Aeonik ";
  --fs-base: 16px;

}

@theme inline {
  --color-accent-red: var(--accent-red);
  --color-accent-green: var(--accent-green);
  --color-accent-purple: var(--accent-purple);
  --color-light: var(--light);
  --color-background: var(--background);
  --gradient-1: var(--gradient-1);

  --color-grey-dark-1: var(--grey-dark-1);
  --color-grey-dark-2: var(--grey-dark-2);
  --color-grey-dark-3: var(--grey-dark-3);
  --color-grey-dark-4: var(--grey-dark-4);

  --color-border-20: var(--border-20);

  --font-aeonic: var(--aeonic);
  --font-base: var(--fs-base);
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent-red);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fcfcfc;
  border-radius: 5px;
  border: 0px solid #e8e8e8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px var(--active-input) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  font-size: 12px;
}

html {
  position: relative;
}

body {
  font-family: var(--font-family) sans-serif;
  overflow-x: hidden;
  color: #000000;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: var(--fs-base);
  color: var(--light);
  font-weight: 400;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  min-height: calc(100dvh - 80px);
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: 100%;
  width: 100%;
}

.content {
  width: 100%;
  max-width: 1440px;
  padding-inline: 16px;
  margin-inline: auto;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}